.hero{
    background-color: $primary;
    padding: 160px 0 100px 0;
    border: 1px solid transparent;
    p{
        margin-top: 30px;
        color: $white;
        opacity: .7;
    }
    }
    .hero-btn{
        margin-top: 40px;
        .btn{
            background-color: $white;
            color: $primary;
            @include btn;
            &:hover{
            background-color: $primary;
            border: 1px solid $white;
                & a{
                    color: white;
                }
        }
        }
    }
    .hero-img{
        width: 100%;
        @include mobile{
            width: 50%;
        }
     
        img{
            max-width: 100%;
            text-align: center;
        }
    }

